@model SkyPioneer.Models.HavaYolu

@{
    ViewData["Title"] = "HavaYoluCreate";
}

<div class="orta">
    <h3 style="color:red; ">@TempData["msj"]</h3>
    <div class="bg-white bg-opacity-75 text-center">


<h4>HavaYolu Oluştur</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="HavaYoluCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Isim" class="control-label"></label>
                <input asp-for="Isim" class="form-control" />
                <span asp-validation-for="Isim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ulke" class="control-label"></label>
                <input asp-for="Ulke" class="form-control" />
                <span asp-validation-for="Ulke" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
