<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SkyPioneer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SkyPioneer.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent  box-shadow ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Arama" asp-action="Index">SkyPioneer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                     
                      
                        @if(User.IsInRole("Admin")){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                        }
                        @if (!(User.Identity.IsAuthenticated))
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Kullanici" asp-action="giris">Giriş</a>
                            </li>
                        }
                        @if (!(User.Identity.IsAuthenticated))
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Kullanici" asp-action="Kayit">Kayıt</a>
                            </li>
                        }
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Kullanici" asp-action="cikisYap">Çıkış</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Kullanici" asp-action="KullaniciDetails">Hesap</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Bilet" asp-action="KullaniciBiletler">Biletler</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Kullanici" asp-action="HesapDuzenle">Hesap Güncelle</a>
                            </li>
                        }
                        <li>
                            <div class="dropdown">
                                <button type="button"
                                        class="btn btn-primary dropdown-toggle"
                                        data-bs-toggle="dropdown">
                                    Localization
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-controller="Arama"
                                           asp-action="ChangeLanguage"
                                           asp-route-culture="en-US"
                                           class="dropdown-item">
                                             English
                                        </a>
                                    </li>
                                    
                                     <li>
                                        <a asp-controller="Arama"
                                           asp-action="ChangeLanguage"
                                           asp-route-culture="tr-TR"
                                           class="dropdown-item">
                                             Türkçe
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Arama"
                                           asp-action="ChangeLanguage"
                                           asp-route-culture="fr-FR"
                                           class="dropdown-item">
                                            German
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="" id="main">
        <main role="main" class=" ">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-muted bg-opacity-75 bg-light ">
        <div class="container text-black link d-flex justify-content-center w-100">
            &copy; 2023 - SkyPioneer 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
